/* You can add global styles to this file, and also import other style files */
@import "variables.scss";

:root {
  font-size: 62.5%;
}

p {
  font-size: 1.6rem;
  color: $white;
}

input[type="text"] {
  font-size: 1.4rem;
  &::placeholder {
    font-size: 1.4rem;
  }
}
