<div class="wrapper">
  <div
    class="alert alert-danger"
    aria-label="error"
    role="alert"
    *ngIf="error !== ''"
    (click)="resetError()"
  >
    {{ error }}
  </div>

  <header class="search">
    <input
      type="text"
      class="form-control"
      placeholder="Search for giffies"
      (keyup)="searchGiffies($event)"
      #search
    />
  </header>

  <ul class="giffies">
    <li
      *ngFor="let giffy of giffies$ | async; trackBy: trackGiffies"
      aria-label="giffy"
    >
      <app-giffy [props]="giffy"></app-giffy>
    </li>
  </ul>

  <footer>
    <app-pagination-control
      *ngIf="(giffies$ | async) && (giffies$ | async)!.length > 1"
      [props]="{ perPage: 9, count: (pagination$ | async)?.total_count || 1 }"
      (selectActivePageNumber)="onSelectActivePageNumber($event)"
    ></app-pagination-control>
  </footer>
</div>
